@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <strong>SalesWeb</strong></h1>
    <p>Initial page of <a href="https://localhost:7091/">SalesWeb</a>.</p>
</div>
